@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #170d15;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  font-family: inherit;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #170d15;
}

::-webkit-scrollbar-thumb {
  background: #9c526f;
  border-radius: 10px;
}